Pistola/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

Intranet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServicioWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SuperAdmin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache