a {
	text-decoration: none;
	outline:none;   

}
 /*---------- NAVEGACION-----------------*/
#navegacion ul, #menu ul, #submenu ul, #menu-secciones ul {
	list-style-type: none;
}
#navegacion {
	/*height: 50px;*/
	background-image: url(../Images/fondo-navegacion2.jpg);
	background-repeat: repeat-x;
}
#navegacion li {
	float: left;
}
#navegacion a {/**/
    padding-right: 25.3px;/*20px*/
	padding-left: 20px;
	font-weight: bold;
	font-size: 14px;
	background-image: url(../images/fondo-navegacion2.jpg);
	background-repeat: repeat-x;
	display: block;
	padding-top: 0px;/* 15px*/
	height: 30px;/* 35px*/
}
#navegacion a:link, #navegacion a:visited {
	color: #0078AD;
}
#navegacion a:hover {
	background-position: bottom;
	color: #49AA43;
}
#navegacion ul li .b-hover {
color: #49AA43;
	background-position: bottom;
}
        
 /*submenu*/
#navegacion ul, #menu ul, #submenu ul, #menu-secciones ul {
list-style-type: none;
}
#submenu a {
	font-size: 14px;
	display: block;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #efefef;	
}
#submenu a:link, #submenu a:visited {
	/*color: #999;*/
}
#submenu a:active, #submenu ul li a.activo {
	color: #49AA43;
}
#submenu a:hover {
	color: #0078AD;
}
/*#submenu ul ul li a {
	font-size: 13px;
	font-weight: bold;
	padding-left: 15px;
	background-image: url(../Images/bullet.gif);
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 8px;
}*/
/*
#submenu ul ul li a:hover, #submenu ul ul li a:active, #submenu ul ul li a.activo {
	color: #027AAE;
}  
#submenu{
        background-image: url(../images/fondomenu.png);
        height: 370px;
        width: 210px;
        background-repeat: no-repeat;
        background-position: top;
}*/
#contenido{
    width: 800px;
    padding-left:210px;   
}

/*Diseño tabla filtro*/
.filtering{
         border: 1px solid #999;
         margin-bottom: 5px;
         margin:center;
         padding: 10px;
         background-color: #EEE;
}
/*Diseño h2, titulos*/
h2 {
	color: #0078AD;
	border-bottom-width: 3px; 
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	font-size: 21px;
	background-image: url(../images/bullet.gif);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 15px;
	margin-bottom: 15px;
}
